# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
    
1. first get the webpage https://www.naukri.com/
    
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [282]:
#Lets now import all the required Libraries 

import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [25]:
from webdriver_manager.chrome import ChromeDriverManager 
driver= webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\Sourabh\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [26]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [27]:
url = 'https://www.naukri.com/'
driver.get(url)

In [28]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

search_job.send_keys('Data Analyst')

Search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
Search_job

#finding element for job location bar
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

#Do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn

search_btn.click()

In [29]:
#So lets extract all the tags having the job-titles
titles_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="5b803cd8-45df-437f-9d90-2bcc518a6034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="e1554a9c-e04e-4730-a40f-444b98e8de75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="8e22c3d3-07e8-4bc9-914d-204b112ef2f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="96c6301d-dc2f-46cb-a3f6-6c07a595b446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="1dde0a91-2be7-4b75-b824-627ca8f97966")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="2289589a-4cc4-43a4-a102-e9114f7c8a96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="8f8a7025-d22d-420b-822b-4dac47e56596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7be312f7-2918-497e-9344-7c66cd53d09f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="6edefe40-2660-48d3-85cf-6119ebbc27bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="e875cb19-11d3-46d4-a185-581d088b9172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="dca40cd4-5219-4e21-892d-60a4f7462d7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="cf28d5ec-fb2d-44c9-8869-b4f0544eed24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="37148e53-c7b0-4d61-b218-bfed6cadd4fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="dae42159-5ffe-43b4-8c72-6ffa1a337a7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="78b161d3-c58d-4669-b1b2-894e5434bde7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7a02476e-ed25-400a-89a3-042425a55479")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="b4bec7ec-d0b9-417d-98d2-c91d31d969f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="35b97547-88ca-4695-9205-cbcbc9c8682d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="a39bff08-8bcb-4a05-a961-dc624154d710")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="86577be4-2024-47ac-96a1-85e842cfa0a5")>]

Now we will extract the text from these tags one by one by looping over these tags

In [30]:
job_titles= []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST',
 'Executive Data Analyst',
 'Senior Data Analyst IN4',
 'Analyst & Designer - Software - Data Analysis',
 'Data Analyst - I/II',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

Now we will extract all the html tags where we have the company names.

In [31]:
companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="76bfb1d2-18f9-4ef4-bd2a-9f44950e352a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="d4d64ecb-5bac-4f00-b362-519e08616e20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="b25ff821-47ee-4ed3-890d-02d427626ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="ce72f01f-2ff0-4a40-b214-274a5b26dc96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="6e80c9d0-0951-41d0-adc2-364d22db4dbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c9d28267-1a9b-47dd-9e30-af1c23f5637c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="a512542a-70f3-43a7-b8e3-1ca94690c0f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="34716d05-f2bf-4690-b82a-28854b6d1fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="0134a511-3a07-49b9-b129-4bc36e11a3a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="195b470e-3482-4ba5-8953-47dfa23db5c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="4b030798-998d-48ef-a910-43f733a3687a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="19bfef4f-5fe7-482f-8961-e5f39b7dd6ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="b6b481c7-333b-4c81-af76-0a2385c5cd91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="748a9a03-694e-4bad-9d60-395ad546a1fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="e06bddc8-d7d8-48eb-acc8-daa8e3e976af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="62b06037-c1b4-47b4-a8bd-0e9a9f56df36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="272c907c-0d9f-44c3-ab5c-9c6390533388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="71f4c4c0-74a4-4469-9e75-48e0789cdc33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="040b673c-3644-4fc6-b9dc-f3b30d5a561a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="8d39a389-21d8-4f6d-a34c-250d0dc1bb6d")>]

In [32]:
company_names=[]

for i in companies_tags:
    company_names.append(i.text)
company_names

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd',
 'Gokaldas Exports Ltd',
 'Walmart Labs',
 'HyreFox Consultants Pvt Ltd',
 'Philips India Limited',
 'AECOM India Private Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Empower Retirement',
 'Flipkart',
 'Flipkart']

Now we will extract all the html tags where we have the experience required data.

In [33]:
experience_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="73ee40df-a514-466b-ab0c-082d40d0bff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c620e4d8-6844-4aef-8375-f3a73f954dd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="761c2d7d-2268-4aeb-a07f-83b4111c34fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="26a3ee13-f638-4a29-913e-e40118ef4940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7d4776d4-d2a5-460a-ba6b-c8618a1250a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="a5f161e3-f0cd-4745-82f9-8bcc50223dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="b0e4c46b-3321-4b16-bac7-92780d2fdd44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7f47e57a-a012-4425-a9d8-7103d2c77328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="a2d0b0c7-09e1-4aa7-93c5-0e484a3a93f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7e6f31e0-3e52-4e33-98c0-87e53ede0c34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="78148613-0af7-43cf-ada2-2b9b11b2b046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="4d6018d8-76f4-4023-bd29-3808cc1805c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="fd894ff7-9056-44cb-a184-54625849f828")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c1cb2dea-5191-4eee-ab33-48f4be93391a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="215bd0a7-cfff-4758-9ffe-d01b6b93fa03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="ac709ee0-f574-4cc9-9907-73982a3bcf32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c27c1b5c-c81e-4def-8bf6-3355ca83604d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="39cd1fa6-dfe2-4a94-93ce-f50d95bdda75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="de568ad0-6958-4994-9538-b96e392a6440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="cac593b1-be98-41a9-8a89-e740d1da2cfc")>]

In [34]:
experience_list=[]

for i in experience_tags:
    experience_list.append(i.text)
experience_list

['3-5 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '6-8 Yrs',
 '0-3 Yrs',
 '8-10 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [35]:
location_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c09b7f47-d68b-454a-acd7-b43c0902d590")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="c9003adf-4b36-4a1c-8035-4be105ec29ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="488ce54f-1c72-40fa-aa51-1f8d66c95d44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="ecef3955-43ad-4374-8b96-47b9c30a0206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="bd1a5368-0368-4764-b296-2e02fab1e915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="6b237f35-f439-445a-9d5c-66514bde84c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="aaa1c063-2b14-45ad-8833-eb9a9a4d917b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="98b82ff7-d84e-49da-a1aa-18513e4a070f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7b75751b-4f45-4a22-8ead-9047f6ca10d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="6bc55208-253f-41a9-b102-5fa069a4f28a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="a4768d7f-ea65-4718-941d-3c469ce490ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="21f77491-5de5-41b8-acde-b9dc5cc57c82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="9e80b279-d297-40db-a018-cd099b58ed67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="7b0b77b1-68c0-4e0c-8edf-53e5499722fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="e02e3bb5-5ad0-468d-83c6-6a303bb7965f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="d3000272-1e38-497a-b860-1077a310f287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="8d94dd8e-73f0-4268-9b95-4fc7f00dd8ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="d25e5598-36de-4b50-b44b-eae692f77537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="393c4302-c559-4f89-9411-f9bc046ef885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a335445fe2f23623c4010fd53c87978e", element="79132a7c-2d36-49c6-98ba-56ba769036b9")>]

In [36]:
location_list=[]

for i in location_tags:
    location_list.append(i.text)
location_list

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

 lets first check the length of each of the list, to check if the lenght of all of the lists are not equal

In [37]:
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

20 20 20 20

In [38]:
#making the dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list

jobs[:10]

,title,company,experience_required,location
0,Senior Data Analyst,Gaussian Networks Private Limited,3-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [39]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [40]:
url = 'https://www.naukri.com/'
driver.get(url)

In [41]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

search_job.send_keys('Data Scientist')

Search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
Search_job

#finding element for job location bar
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

#Do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn

search_btn.click()

In [42]:
#So lets extract all the tags having the job-titles
titles_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="1c0b14b7-22cb-4a4d-b25a-a305bf488abf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b81f5929-fcc7-4c32-b451-ddbf37870753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="c090a175-a593-429e-ba8c-ed2c2e6b450d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="64a93336-720f-4347-80a7-421065412e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="774020a3-4483-45c4-8b26-127e85b3817d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="0423459d-f4c9-46c0-a94e-6a8206cd7d9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="443fab71-ad50-44b6-b97c-735335007ab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="7c00a02c-d733-4ad2-9d50-ffb32230d8d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="4e0d282d-f5cc-4160-8eb7-2cbb420ba941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="da89f11a-fa69-4b3b-ace6-7f25feb5ac1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="27fa85b2-e4b5-4c62-be51-67679910e907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="deb4d1d0-2a2b-4382-b7c1-e0746e2c4970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b0786eba-c006-45f6-8c80-898ef44abddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="1c10a891-57a9-43ff-ae95-84cb8f424336")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="87c9cef3-9f20-4199-99cb-ec35663175e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="d5f056e2-70ae-42ce-abfe-bdeb77a896b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="3a1a1067-fd92-45f7-aaf1-0d159e170fbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="40a02407-0c5b-4f90-bd95-cde21767e874")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="f0f3c0e0-9e22-42ff-8f3d-934200f6c7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="00d79eac-1cd8-4fac-b9e0-80dd3e8b0b6c")>]

Now we will extract the text from these tags one by one by looping over these tags

In [43]:
job_titles= []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Hiring For Manager and Sr. Manager | Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist- Senior Business Analyst/Lead Analyst',
 'Data Scientist- Python/R (3+ Years)',
 'Data Scientist - IN3']

In [44]:
#Now we will extract all the html tags where we have the company names.
companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="5ae2e2f8-e9df-4a65-9ca3-817ee5feea19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b79549f6-a2cd-4fd6-8b50-6d928161a27b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="0ef3756f-82d6-4b35-a7f8-dfe23c166b11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="6f9f7557-9c0e-4963-9139-8ec257faeeb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="7cf9db63-f044-4ebe-b857-a732f416720c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="13acca08-be9f-4579-b332-eaf06bc2c78d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="9d2cdfd8-fc2f-4061-89c5-dbc7d20dfd37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="2f7a2cf5-5fe6-4b39-9f05-f5862515ee2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="c88d70c0-c566-41e3-a85a-3c0daafdcf18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b39f4ab4-2429-44c8-a2f2-e9eadb00f0f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="9f9dac28-017b-4b32-bc1c-3c705d238835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="9b534dd3-fb89-43d8-8270-f6387928031b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="8729f38e-7b63-4799-9977-469c538cf6ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="81114785-47df-40f0-82fe-03cf5db47e3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="2b22ab5c-27b8-4956-a5a8-b6e64a717a73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="75f96531-ecf2-463e-af70-c6163ecade16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="37addd20-c0b3-4e1e-99ac-c6d51c4eff3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="ed6b29e8-9ed8-4c5d-a2cd-d51a58ca9e51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="591d5bb1-2017-49d7-ac9c-0f02ba22d233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="d71f9369-243e-485b-990a-db79fbb8daa9")>]

In [45]:
company_names=[]

for i in companies_tags:
    company_names.append(i.text)
company_names

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Airbnb',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'Vision Beyond Resources India Private Limited',
 'CRISIL LIMITED',
 'AVE-Promagne',
 'Wrackle Technologies Pvt Ltd',
 'Evalueserve.com Pvt. Ltd',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Walmart Labs']

In [48]:
location_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="376cc09d-b8a8-44f4-9ea5-fa965b4048f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="19f603b3-087d-47b5-b80b-8b77d004e6cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="4575ab8b-1549-45dd-864f-16192da2aa3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="aacb0e15-552f-4cae-b6f7-908c84772d3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="3b21077e-6ac2-425f-a7f6-7deb5470f0cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="173ce705-fdd2-425e-96c9-09d5be3cbf55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="c2de9365-a37a-4304-b3e2-2ff2f78d40c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="e22b351e-9bed-4bcf-b6c6-05852eff1563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="2d26ee21-d4d6-4ea3-94e8-f74a98ad7c43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="33d3d79f-6bb5-4a03-ab93-fdc98d686c09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="aecc1e0a-52f7-432d-874b-3a6638b7624b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="dc791d1a-d1d2-47f6-acc6-fd6ddb540dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="862c8b8d-aaa0-4191-86c5-dcf69d5cf32b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="80266a18-2123-4ff8-81bf-360c8f784a00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="f3df7982-0bc3-42c6-9f37-76610f1f8011")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="21d0d536-9f0b-44c2-b52d-8152d5285adf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="acf4f646-1cb0-415c-aa8c-59b436b05d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="3c08c1a6-f133-4401-a4e3-838dd4bfc1c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="fe1dc1ba-2dfd-4720-b2a7-f2a0d88a8b0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="c553085c-aa73-4d0c-858d-a04143322985")>]

In [49]:
location_list=[]

for i in location_tags:
    location_list.append(i.text)
location_list

['Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

Now we need to scrape full job description

In [51]:
descp_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

descp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="1c0b14b7-22cb-4a4d-b25a-a305bf488abf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b81f5929-fcc7-4c32-b451-ddbf37870753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="c090a175-a593-429e-ba8c-ed2c2e6b450d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="64a93336-720f-4347-80a7-421065412e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="774020a3-4483-45c4-8b26-127e85b3817d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="0423459d-f4c9-46c0-a94e-6a8206cd7d9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="443fab71-ad50-44b6-b97c-735335007ab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="7c00a02c-d733-4ad2-9d50-ffb32230d8d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="4e0d282d-f5cc-4160-8eb7-2cbb420ba941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="da89f11a-fa69-4b3b-ace6-7f25feb5ac1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="27fa85b2-e4b5-4c62-be51-67679910e907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="deb4d1d0-2a2b-4382-b7c1-e0746e2c4970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="b0786eba-c006-45f6-8c80-898ef44abddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="1c10a891-57a9-43ff-ae95-84cb8f424336")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="87c9cef3-9f20-4199-99cb-ec35663175e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="d5f056e2-70ae-42ce-abfe-bdeb77a896b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="3a1a1067-fd92-45f7-aaf1-0d159e170fbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="40a02407-0c5b-4f90-bd95-cde21767e874")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="f0f3c0e0-9e22-42ff-8f3d-934200f6c7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3f859bb4cb9c88696778bf5aafbfac1", element="00d79eac-1cd8-4fac-b9e0-80dd3e8b0b6c")>]

In [53]:
descp_url=[]

for u in descp_tags:
    descp_url.append(u.get_attribute('href'))
descp_url

['https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-chennai-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-110921000464?src=jobsearchDesk&sid=16315318701047674&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16315318701047674&xp=2&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16315318701047674&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921603395?src=jobsearchDesk&sid=16315318701047674&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921003393?src=jobsearchDesk&sid=16315318701047674&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16315318701047674&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-6-to-10-years-090921501063?src=jobsearchDesk&sid=16315318701047674&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16315318701047674&xp=8&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16315318701047674&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16315318701047674&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16315318701047674&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-in4-walmart-labs-bangalore-bengaluru-7-to-10-years-090921501064?src=jobsearchDesk&sid=16315318701047674&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-4-to-8-years-090921500549?src=jobsearchDesk&sid=16315318701047674&xp=13&px=1',
 'https://www.naukri.com/job-listings-hiring-for-manager-and-sr-manager-data-scientist-vision-beyond-resources-india-private-limited-noida-mumbai-new-delhi-gurgaon-gurugram-bangalore-bengaluru-8-to-13-years-090921005986?src=jobsearchDesk&sid=16315318701047674&xp=14&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16315318701047674&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16315318701047674&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16315318701047674&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16315318701047674&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-r-3-years-crescendo-global-leadership-hiring-india-private-l-imited-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-3-to-8-years-110921000469?src=jobsearchDesk&sid=16315318701047674&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-in3-walmart-labs-bangalore-bengaluru-3-to-6-years-090921500592?src=jobsearchDesk&sid=16315318701047674&xp=20&px=1']

In [63]:
desc=[]
for d in descp_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//*[@class='dang-inner-html' or @class='clearboth description']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc.append(content)
    except:
        pass

In [64]:
desc

['Minumum 3 years of experience in Data Science/Machine learning  Location : PAN INDIA Exp : 3 - 7 Years  Minimum 3 year of experience in being Applied Machine Learning Engineer role Research, develop, and implement prediction, optimization, and analytics tools. Document and communicate methodology and results to technical and non-technical audiences Guide and implement best practices of curated data and evaluate ML models on large-scale data Lead design and implementation of Machine Learning algorithms, combining with rule-based optimization to deliver significant improvement in product metrics Write production ready high quality, maintainable and scalable code. Design and analyze metrics to verify model and algorithm effectiveness. Experience with data analysis languages such as Python or Scala Experience with Machine Learning tools (Azure ML, SageMaker, TensorFlow, Kubernetes, etc.) Experience with Machine Learning Languages (R, Python, .Net Core, etc.)',
 'Introduction Software Developers at IBM are the backbone of our strategic initiatives to design, code, test, and provide industry-leading solutions that make the world run today - planes and trains take off on time, bank transactions complete in the blink of an eye and the world remains safe because of the work our software developers do. Whether you are working on projects internally or for a client, software development is critical to the success of IBM and our clients worldwide. At IBM, you will use the latest software development tools, techniques and approaches and work with leading minds in the industry to build solutions you can be proud of.  Your Role and Responsibilities IBM s Global Technology Services (GTS) business unit has embarked on a mission to be the most trusted partner to our clients and enable them with game changing technology backbone to drive competitive advantage. One of the most significant & challenging areas for our clients is Data. From identifying & capturing to curation & consumption - we would like to simplify, automate, and accelerate the data lifecycle within our client s myriad use cases. To this effect we have launched specific offering(s) and are building out a team of passionate achievers to help us define, create, market & deliver data solutions to our clients. We are looking for a passionate Data Scientists with expertise in Machine Learning, who can contribute to deliver on this vision. This is a fun and fast paced environment, where developers are empowered to innovate and learn fast is our standard operating model. As a Senior Data Scientist you will be at the forefront of this ride and get to work with end clients on a regular basis. You will be the face of GTS & evangelize the data science & ML solutions that we have to offer. You will create compelling value proposition and targeted content to significantly improve our chances of winning in the marketplace. You will defend IBM solutions and build trust with the client at all levels -operational to executive. You will help drive, qualify & close opportunities. You will be responsible for the execution and successful delivery of Data Science assignments. You will be responsible for identifying and supporting current and new hypotheses. With your understanding of complex concepts, you will translate hypotheses into actionable items that are understandable by non-technical business users. You understand challenges in the BFSI domains & can discover new avenues to apply AI/ML solutions to solve these challenges. The problems we address are significantly complex and we expect you to lead excellence in our data science methodologies. You have a distinct ability to identify and implement robust, efficient, and scalable solutions that leverage multiple techniques and/or technologies. You will Provide guidance and architecture support to platform development teams and oversee the development from initial concept to production deployment  Required Technical and Professional Expertise As a leader in Data science organization, lead multiple scrum teams to deliver innovative ML solutions in BFSI space PH.D or Master s degree in a quantitative field such as computer science, applied mathematics, statistics, physics, engineering or finance Overall Data Science, Statistical Analysis, Data Analytics & Machine Learning experience of 10 years 7 years of BFSI domain experience in implementing data science or AI solutions from exploration to production 3 years of experience in a responsible senior or team lead role managing a team of data scientists who develop robust machine learning models to solve actual business problems Expert understanding of ML Production deployments. Have atleast 3 years of experience in production grade ML design, development & deployment Work closely with internal and external stakeholders, both technical and non-technical and help translate deep ML knowledge to stakeholders. Work closely with ML engineering/Infrastructure team to help define the vision of ML training and ML inference platforms running on Cloud as well as On-prem Mentor and grow Junior data scientists in the team on both DS modelling and software engineering skills Expert ability to define Data Science model development & MLOps process, workflows, coding practices & DevOps practices Extensive overview of applied methods in statistics, machine learning and artificial intelligence Expert understanding of various AI/ML technology stacks including Cloud Based services Help define the data science development workflows from coding and architecture best practices, data strategy, to ML training and Inference platforms Demonstrated experience in creating AI/ML solutions within the BFSI space: Banking: Credit, Risk, Customer Exp, Open Banking, Digital Banking, Cross-Sell, Up-Sell, Branch Ops, Treasury, Cards Business, SME Banking, Wealth Management Insurance/Insurtech: Claims, Operations, Agency Development, Sales & Distribution, Customer Experience, Forecasting, Actuarial, Segmentation, Pricing FS/Regtech: Compliance & Regulatory, Auto, STPI, Consumer Durables, Commercial, Mortgage Knowledge of software engineering practices such as version control, continuous delivery, unit testing, documentation, release management Experience in natural language processing, text analytics, data mining, text processing or other AI subdomains and techniques Coach and lead a team of other data scientists, engineers, and other stakeholders Propose suitable technology stacks for projects to be deployed across cloud platforms and on-premise infrastructure. Solid data management and statistical modelling skills: Experience with Scala/Python, Scikit-learn, TensorFlow, Keras, NLTK, PyTorch etc Experience with leveraging best practices conducting advanced analytics projects Experience in distributed & scalable ML development. Good PoV on TinyML and Embedded AI/ML  Preferred Technical and Professional Expertise Experience with open-source distributed data processing & ML frameworks Experience working in a Linux environment Experience working within a development team setup which is building product/services Experience with presenting complex data science processes/information to non-data scientists Experience with Information Retrieval and relevant tools such as Lucene, Elasticsearch, Solr Prioritization skills; ability to manage ad-hoc requests in parallel with ongoing projects Strong experience in both classical ML modeling approaches and Deep learning based model approaches Data analysis, reporting, visualization expertise and experience with tools such as Tableau, Alteryx, Python and R at scale Good NLP knowledge and cloud experience preferred Passion, Drive and Can-do attitude Good communication skills Willingness to thrive in ambiguous environments',
 'Use predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes Work with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled. Selecting features, building and optimizing classifiers using machine learning and deep learning techniques Collaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Develop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models. Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata. Job Qualifications: Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development Experience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc. Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc Having strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning Strong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners. Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent Experience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools. Proficiency in using query languages, such as SQL, PL/SQL Hands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc. Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition. A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation. Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines A flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization. A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science',
 "Must Have skill sets:  Excellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.) 4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / Python Proficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essential  Good to Have skill sets:  Visualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is must Insight Generation and Story telling to end consumers Experience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support) Self-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delight  Educational Qualification:  Any of the following: • Bachelors in Engineering / MCA • Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines • MBA  Job Responsibilities: Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product manager Understand business requirements from Product Managers/Business Users Extract data from multiple data sources using Hadoop / SQL Develop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniques Perform ad-hoc deep dive analysis and generate actionable insights Create technical documentation and provide post-production support for a time-bound period Communicate the results to technical as well as business stakeholders across different hierarchies",
 "Must Have skill sets:  Excellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.) 4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / Python Proficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essential  Good to Have skill sets:  Visualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is must Insight Generation and Story telling to end consumers Experience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support) Self-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delight  Educational Qualification:  Any of the following: • Bachelors in Engineering / MCA • Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines • MBA  Job Responsibilities: Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product manager Understand business requirements from Product Managers/Business Users Extract data from multiple data sources using Hadoop / SQL Develop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniques Perform ad-hoc deep dive analysis and generate actionable insights Create technical documentation and provide post-production support for a time-bound period Communicate the results to technical as well as business stakeholders across different hierarchies",
 'Introduction As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live.  Your Role and Responsibilities Work with IBM Q Start team on active exploratory research engagements to prepare for future use case commercialization within specific industry Engage and educate client data science teams to define promising areas for quantum exploration Implement quantum approaches, which includes data pre-/post-processing, running numerics and visualizing data Collaborate with industry and solutioning experts to design and shape experiments to demonstrate quantum-enabled advantage Define best practices related to information architecture, including collection, integration, organization, analysis and visualization of data for quantum-enabled impact Engage in practice development initiatives focused on building employee knowledge and skills in specific areas of expertise through coaching and development of training course material  Required Technical and Professional Expertise PhD/Masters in STEM-related fields with knowledge in Quantum Computing. 5 years of data engineering and data science experience 2 years of consulting experience within specific industries with strong domain expertise and business acumen Proficiency with classical approaches to machine learning and linear algebra, including Support Vector Machine (SVM) for linear categorization and Singular Value Decomposition (SVD) to reduce dimensionality of data Familiar with Qiskit software, including Qiskit Aqua for domain applications and Qiskit Terra for quantum circuit design and optimization Excellent ideation, facilitation and communications skills Detail-oriented team player with strong interpersonal skills and ability to take a leadership role when necessary Willingness to travel globally up to 40% once we return to a travel-safe environment. English: Fluent  Preferred Technical and Professional Expertise 2 years of experience in at least one of the industries, with knowledge of industry trends, R&D areas, and computationally intensive processes (e.g. optimization) Familiarity with Qiskit',

lets first check the length of each of the list, to check if the lenght of all of the lists are not equal

In [65]:
print(len(job_titles),len(company_names),len(location_list),len(desc))

20 20 20 19

In [67]:
JobDF = pd.DataFrame({"Job Title":job_titles[0:10],"Company":company_names[0:10],"Location":location_list[0:10],"Job Description":desc[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [68]:
JobDF

,Job Title,Company,Location,Job Description
1,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Minumum 3 years of experience in Data Science/...
2,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,Introduction Software Developers at IBM are th...
3,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Use predictive modeling to increase and optimi...
4,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Must Have skill sets: Excellent knowledge of ...
5,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Must Have skill sets: Excellent knowledge of ...
6,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,"Introduction As a Data Scientist at IBM, you w..."
7,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart, you ll..."
8,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,"Introduction As a Data Scientist at IBM, you w..."
9,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,"As a Data Scientist at IBM, you will help tran..."
10,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,"Skills Required Skills: Data Science, Machin..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field 
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [70]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [72]:
url = 'https://www.naukri.com/' 
driver.get(url)

jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch
jobsearch.send_keys("Data Scientist")
search = driver.find_element_by_class_name('btn')
search.click()

In [73]:
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]")
location_filter.click()

In [82]:
salary_filter = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary_filter.click()

In [83]:
job_title = []
company = []
locations = []
exp = []

In [85]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in exp_tag:
    exp.append(x.text)

In [ ]:
#sumup in DataFrame

In [87]:
job = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":exp[0:10],"Location":locations[0:10]})
job.reset_index(drop=True,inplace = True)
job.index+= 1

In [88]:
job

,Job Title,Company,Experience,Location
1,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Ghaziabad, Faridabad, Delhi / NCR"
2,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
3,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
6,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
7,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,Gurgaon/Gurugram
8,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Noida, Gurgaon/Gurugram"
9,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
10,Junior Data Scientists & Engineers,PY Consultancy,0-3 Yrs,"New Delhi, Delhi / NCR"

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [185]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [186]:
url = 'https://www.glassdoor.co.in/index.htm' 
driver.get(url)

In [187]:
jobsearch = driver.find_element_by_id('sc.keyword')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('sc.location')
location.send_keys("Noida")

In [188]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
search_btn.click()

In [189]:
company = []
posting_ago = []
Rating = []

In [190]:
# Finding the element for Company Name using xpath
company_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//a")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="38f1c57b-877b-416b-bb28-407ec61c9b52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="df7a61b7-dc28-4126-a705-48f460657ff1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="cac65ae9-1ad0-4c0e-8310-a229984e2343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="881fdd91-fe93-439e-841f-1d43ff9a16bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="4a474118-39e4-4b1d-927e-a30d69740861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="c0699096-1202-4299-9170-b4c2f63f60c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="2b811d99-56ce-424e-b87c-786b2d2a11ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="70e98a6e-697f-467e-9e48-345948e95552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="4fcc4744-7983-459d-84d8-31fe96ffeddf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="a31285c6-e4c7-4835-9daf-a28435528fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="e6cdcc40-b7d5-4648-85e5-ba8065104ae2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="d1dc2e03-eca2-4f5b-b27e-b3123547e9c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="f95f3d50-389c-492e-919a-5d4e98417867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="818e372d-dfc7-4732-a7fe-2f41ac333a95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="734df2d1-ef0f-403e-a8bc-2720b07ceb8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="25460629-e8e7-4202-98d2-eb0ceaa59f07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="20134e85-051a-4366-bfe3-2763d8bff5e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="6bed35ef-4a9a-45d1-a084-86d3215e7c52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="ca3df6f0-01eb-4fe7-9f56-15ccc1f52ae8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="fb502aea-770b-4bca-8f4f-60ec9a054031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="3dfac120-09f6-4df5-8a00-7fc4ebdea24b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="f1630faa-a7bc-4d6d-a1cc-3e692e461264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="4c016b2f-59cc-4e4a-ad2f-23b638a55633")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="ca8f7cc3-d759-4f72-bc0c-ab232722f368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="e8febe1b-28db-45a8-9d7a-0efc6b048935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="7eb5752e-241d-410c-855e-f99460c67b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="fe128334-f1d5-45e8-8eb2-a7ed110c7a39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="40d1deb9-88e4-41e3-b1b2-9fab93731cdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="2ebf8f89-e4af-4b8d-a272-c9d2aefe4aa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e0e88db713f2da1f8c8f88260b4a1e7", element="f525e508-258b-45d8-9bad-ec2d8f266065")>]

In [191]:
for i in company_name:
    company.append(i.text)
company

['Liberin Technologies Private Limited',
 'AlgoScale Technologies Private Limited',
 'Noisy Lion',
 'Salasar New Age Technologies',
 'Techlive',
 'Grail Insights',
 'Grail Insights',
 'Lenskart',
 'Salasar New Age Technologies',
 'Newgen Software',
 'Genpact',
 'Biz2Credit Inc',
 'Ericsson',
 'IBM',
 'Crowe',
 'SearchUrCollege',
 'limeroad.com',
 'Airtel India',
 'NEC Opportunities',
 'Crypto Mize',
 'ING',
 'Monotype',
 'Emerging India Group',
 'Saishaa Services',
 'Ishatva Management Solutions',
 'Badatya Private Limited',
 'Adobe',
 'CSTEP',
 'CRMNEXT',
 'xtLytics']

In [192]:
job_posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

for d in job_posted:
    posting_ago.append(d.text)
posting_ago

['30d+',
 '19d',
 '',
 '30d+',
 '30d+',
 '5d',
 '5d',
 '7d',
 '30d+',
 '30d+',
 '7d',
 '30d+',
 '12d',
 '23d',
 '30d+',
 '30d+',
 '19d',
 '24d',
 '26d',
 '27d',
 '10d',
 '4d',
 '30d+',
 '21d',
 '14d',
 '16d',
 '30d+',
 '30d+',
 '30d+',
 '30d+']

In [193]:
 Rating_tag=[i.text if i != '' else None for i in  driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")]  


Rating_tag

['',
 '3.9',
 '3.9',
 '',
 '',
 '3.5',
 '3.5',
 '3.6',
 '',
 '3.3',
 '3.8',
 '4.2',
 '4.1',
 '3.9',
 '3.8',
 '',
 '',
 '3.8',
 '',
 '5.0',
 '4.0',
 '3.9',
 '2.4',
 '',
 '',
 '4.5',
 '4.4',
 '3.2',
 '3.7',
 '3.0']

In [198]:
Rating_tag=["N/A" if i =='' else i for i in Rating_tag]

In [199]:
Rating_tag

['N/A',
 '3.9',
 '3.9',
 'N/A',
 'N/A',
 '3.5',
 '3.5',
 '3.6',
 'N/A',
 '3.3',
 '3.8',
 '4.2',
 '4.1',
 '3.9',
 '3.8',
 'N/A',
 'N/A',
 '3.8',
 'N/A',
 '5.0',
 '4.0',
 '3.9',
 '2.4',
 'N/A',
 'N/A',
 '4.5',
 '4.4',
 '3.2',
 '3.7',
 '3.0']

In [194]:
print(len(company),len(posting_ago),len(Rating_tag))

30 30 30

In [200]:
Job = pd.DataFrame({"Company":company[0:10],"posting_ago":posting_ago[0:10],"Rating":Rating_tag[0:10]})
Job.reset_index(drop=True,inplace = True)
Job.index+= 1

In [201]:
Job

                                   Company posting_ago Rating
1     Liberin Technologies Private Limited        30d+    N/A
2   AlgoScale Technologies Private Limited         19d    3.9
3                               Noisy Lion                3.9
4             Salasar New Age Technologies        30d+    N/A
5                                 Techlive        30d+    N/A
6                           Grail Insights          5d    3.5
7                           Grail Insights          5d    3.5
8                                 Lenskart          7d    3.6
9             Salasar New Age Technologies        30d+    N/A
10                         Newgen Software        30d+    3.3

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [208]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [209]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm' 
driver.get(url)

In [210]:
jobsearch = driver.find_element_by_id('KeywordSearch')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('LocationSearch')
location.send_keys("Noida")
search = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button')
search.click()

In [211]:
company = []
job_title = []
Rating = []
sals = []
avg_sal = []
sal_num = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
company_tag = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
title_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg px-xsm']//span")
sal_num_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
sals_tag = driver.find_elements_by_xpath("//div[@class='d-none d-lg-block']//p")
avg_sal_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in company_tag:
    company.append(i.text)
for j in title_tag :
    job_title.append(j.text)
for r in Rating_tag:
    Rating.append(r.text)
for n in sal_num_tag:
    sal_num.append(n.text)
for m in sals_tag:
    sals.append(m.text)
for a in avg_sal_tag:
    avg_sal.append(a.text.replace("\n ",""))

In [212]:
avg_sal

['₹6,28,021/yr',
 '₹9,08,246/yr',
 '₹11,93,390/yr',
 '₹xx,xx,xxx/yr',
 '₹x,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹x,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹x,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xx,xxx/yr',
 '₹xx,xxx/mo',
 '₹xx,xx,xxx/yr',
 '₹xx,xxx/mo']

In [213]:
sals

['₹4L',
 '₹13L',
 '₹1L',
 '₹28L',
 '₹6L',
 '₹23L',
 '₹xL',
 '₹xCr',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxT',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xxT',
 '₹xxT']

Separating min and max salaries

In [214]:
min_sal =[]
max_sal = []

for i in range(0,len(sals),2):
    min_sal.append(sals[i])
for j in range(1,len(sals),2):
    max_sal.append(sals[j])

In [215]:
min_sal

['₹4L',
 '₹1L',
 '₹6L',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxT',
 '₹xL',
 '₹xxT']

In [216]:
max_sal

['₹13L',
 '₹28L',
 '₹23L',
 '₹xCr',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxT']

In [217]:
#making DataFrame
Job_df = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Minimum Salary(₹)":min_sal[0:10],"Maximum Salary(₹)":max_sal[0:10],"Average Salary(₹)":avg_sal[0:10],"Number of Salaries":sal_num[0:10],"Rating":Rating[0:10]})
Job_df.reset_index(drop=True,inplace = True)
Job_df.index+= 1
Job_df

,Job Title,Company,Minimum Salary(₹),Maximum Salary(₹),Average Salary(₹),Number of Salaries,Rating
1,Data Scientist,Tata Consultancy Services,₹4L,₹13L,"₹6,28,021/yr",22 salaries,3.9
2,Data Scientist,IBM,₹1L,₹28L,"₹9,08,246/yr",20 salaries,3.9
3,Data Scientist,Accenture,₹6L,₹23L,"₹11,93,390/yr",15 salaries,4.1
4,Data Scientist,Delhivery,₹xL,₹xCr,"₹xx,xx,xxx/yr",15 salaries,3.7
5,Data Scientist,Ericsson-Worldwide,₹xL,₹xxL,"₹x,xx,xxx/yr",14 salaries,4
6,Data Scientist,UnitedHealth Group,₹xL,₹xxL,"₹xx,xx,xxx/yr",14 salaries,3.7
7,Data Scientist,Optum,₹xL,₹xxL,"₹xx,xx,xxx/yr",11 salaries,3.7
8,Data Scientist,Optum Global Solutions,₹xxL,₹xxL,"₹xx,xx,xxx/yr",10 salaries,3.9
9,Data Scientist,Valiance Solutions,₹xL,₹xxL,"₹x,xx,xxx/yr",10 salaries,4.2
10,Data Scientist,EXL Service,₹xL,₹xxL,"₹xx,xx,xxx/yr",9 salaries,3.6

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [218]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [219]:
url = 'https://www.flipkart.com' 
driver.get(url)

In [220]:
glassessearch = driver.find_element_by_xpath('//input[@class="_3704LK"]')
glassessearch.send_keys("Sunglasses")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [221]:
brand = []
desc = []
price = []
disc = []

In [223]:
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)
for c in disc_tag:
    disc.append(c.text)

In [224]:
import time

In [225]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [226]:
#Making the DataFrame 
#Sunglasses_df DataFrame
Sunglasses_df = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
Sunglasses_df.reset_index(drop=True,inplace = True)
Sunglasses_df.index+= 1
Sunglasses_df.shape

(100, 4)

In [227]:
Sunglasses_df

,Brand Name,Price(₹),Discount,Description
1,AISLIN,₹525,65% off,"UV Protection, Gradient Wayfarer, Clubmaster S..."
2,Singco India,₹331,83% off,"Mirrored, UV Protection, Riding Glasses, Other..."
3,Elligator,₹295,88% off,UV Protection Round Sunglasses (54)
4,SHAAH COLLECTIONS,₹198,88% off,"UV Protection, Polarized, Mirrored Rectangular..."
5,kingsunglasses,₹284,89% off,"Mirrored, UV Protection Wayfarer Sunglasses (F..."
...,...,...,...,...
96,NuVew,₹425,70% off,UV Protection Cat-eye Sunglasses (60)
97,ROZZETTA CRAFT,₹449,77% off,"UV Protection, Gradient Retro Square Sunglasse..."
98,hipe,₹319,83% off,UV Protection Sports Sunglasses (Free Size)
99,ROYAL SON,₹499,72% off,UV Protection Round Sunglasses (47)
100,NuVew,₹365,68% off,"UV Protection, Gradient, Night Vision, Mirrore..."

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [228]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [229]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 
driver.get(url)

In [230]:
viewall = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
viewall.click()

In [231]:
rev_sum = []
rating = []
rev = []

In [233]:
rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

for r in rev_sum_tag:
    rev_sum.append(r.text)
for j in rating_tag :
    rating.append(j.text)
for k in rev_tag:
    rev.append(k.text.replace("\n"," "))

In [234]:
import time

In [235]:
#By try and except method

i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass

    
    
    
    i=i+1

In [236]:
#Making DataFrame for iphone 11

iphone11_df = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphone11_df.reset_index(drop=True,inplace = True)
iphone11_df.index+= 1
iphone11_df.shape

(100, 3)

In [237]:
iphone11_df

,Summary,Full Review,Rating
1,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
2,Simply awesome,Really satisfied with the Product I received.....,5
3,Best in the market!,Great iPhone very snappy experience as apple k...,5
4,Perfect product!,Amazing phone with great cameras and better ba...,5
5,Fabulous!,This is my first iOS phone. I am very happy wi...,5
...,...,...,...
96,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5
97,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
98,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
99,Worth every penny,It’s been almost a month since I have been usi...,5
100,Terrific,Really worth of money. i just love it. It is t...,5

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [238]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [239]:
url = 'https://www.flipkart.com' 
driver.get(url)

In [241]:
Sneakerssearch = driver.find_element_by_xpath('//input[@class="_3704LK"]')
Sneakerssearch.send_keys("Sneakers")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [242]:
brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)
for c in disc_tag:
    disc.append(c.text)

In [243]:
# importing time
import time 

#By try and exception method
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [ ]:
#Making DataFrame as Sneakers_df

In [244]:
Sneakers_df = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
Sneakers_df.reset_index(drop=True,inplace = True)
Sneakers_df.index+= 1
Sneakers_df.shape

Sneakers_df

,Brand Name,Price(₹),Discount,Description
1,Magnolia,₹356,64% off,Sneakers For Men
2,BRUTON,₹474,86% off,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
3,Longwalk,₹236,52% off,Men Boxer Sneakers For Men
4,ASTEROID,₹499,75% off,Original Luxury Branded Fashionable Men's Casu...
5,Chevit,₹599,66% off,Perfect & Affordable Combo Pack of 02 Pairs Sn...
...,...,...,...,...
96,BIRDE,₹359,28% off,Sneakers For Men
97,SHOEFLY,₹362,70% off,Combo pack of 2 casual sneaker shoes for men S...
98,HOC,₹398,80% off,Respin SL Sneakers For Men
99,Zsyto,₹398,69% off,"Casual , Partywear Sneakers Shoes For Men's An..."
100,BRUTON,₹215,64% off,White Sneaker For Men's/Boy's Sneakers For Men

# Q9: Go to the link - 
https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [248]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [249]:
url = 'https://www.myntra.com/shoes' 
driver.get(url)

In [250]:
colour_filter = driver.find_element_by_xpath("//li[@class='colour-listItem']")
colour_filter.click()

In [261]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [262]:
brand = []
desc = []
price = []
price2 = []
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

In [263]:
for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)

In [264]:
import time 

#by try and exception method

i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    
    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [265]:
price
#has duplicate values

['Rs. 6999',
 'Rs. 6999',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 10499Rs. 14999',
 'Rs. 10499',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 7499Rs. 9999',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 13599Rs. 16999',
 'Rs. 13599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 8599',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 7195',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 6999',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7149Rs. 10999',
 'Rs. 7149',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 11999',
 '',
 'Rs. 6999',
 '',
 'Rs. 6999',
 '',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 '',
 'Rs. 10499Rs. 14999',
 'Rs. 10499',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 6999',
 '',
 'Rs. 7499',
 '',
 'Rs. 6999',
 '',
 'Rs. 7499Rs. 9999',
 'Rs. 7499',
 '',
 'Rs. 7999',
 '',
 'Rs. 10999',
 '',
 'Rs. 11999',
 '',
 'Rs. 13599Rs. 16999',
 'Rs. 13599',
 '',
 'Rs. 10999',
 '',
 'Rs. 6999',
 '',
 'Rs. 8599',
 '',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 '',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 '',
 'Rs. 12999',
 '',
 'Rs. 7195',
 '',
 'Rs. 7599',
 '',
 'Rs. 10999',
 '',
 'Rs. 6999',
 '',
 'Rs. 7999',
 '',
 'Rs. 8490',
 '',
 'Rs. 9999',
 '',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 '',
 'Rs. 6999',
 '',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 '',
 'Rs. 9999',
 '',
 'Rs. 9999',
 '',
 'Rs. 9999',
 '',
 'Rs. 8990',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 10999',
 '',
 'Rs. 7999',
 '',
 'Rs. 7149Rs. 10999',
 'Rs. 7149',
 '',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 '',
 'Rs. 8999',
 '',
 'Rs. 8999',
 '',
 'Rs. 7999',
 '',
 'Rs. 9999',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 9999',
 '',
 'Rs. 6999',
 '',
 'Rs. 7499',
 '',
 'Rs. 8999',
 '',
 'Rs. 9999',
 'UK4,',
 'Rs. 9999',
 '',
 'Rs. 11999']

In [266]:
while("" in price) :
    price.remove("")

In [267]:
#removing duplicate values
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1

In [268]:
j

101

In [269]:
price

['Rs. 6999',
 'Rs. 6999',
 'Rs. 8099',
 'Rs. 10499',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 13599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 8599',
 'Rs. 6999',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 7195',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7149',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8099',
 'Rs. 10499',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 13599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 8599',
 'Rs. 6999',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 7195',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 6999',
 'Rs. 11199',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7149',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 9999',
 'UK4,',
 'Rs. 9999',
 'Rs. 11999']

In [270]:
#MAking DataFrame

MyntraShoes_df = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoes_df.reset_index(drop=True,inplace = True)
MyntraShoes_df.index+= 1

In [271]:
MyntraShoes_df

         Brand Name   Price(₹)                        Description
1              Puma   Rs. 6999     Men BlackTraining or Gym Shoes
2              Puma   Rs. 6999     Men Cell Fraction Fade Running
3      Hush Puppies   Rs. 8099  Men Solid Leather Formal Slip-Ons
4              Puma  Rs. 10499        Women Deviate Nitro Running
5      Hush Puppies   Rs. 8999  Men Solid Leather Formal Slip-Ons
..              ...        ...                                ...
96             Puma   Rs. 7499         Women Provoke XT FTR Shoes
97     UNDER ARMOUR   Rs. 8999     Women Charged Bandit 6 Running
98             Geox   Rs. 9999                       Men Sneakers
99             Puma       UK4,
100  ROSSO BRUNELLO   Rs. 9999         Men Leather Formal Loafers

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
attributes for each laptop:
1. title
2. Ratings
3. Price

In [316]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sourabh\Downloads\chromedriver_win32\chromedriver.exe")

In [317]:
url = 'https://www.amazon.in/'
driver.get(url)

In [318]:
# code to write laptop in the search box 
Laptopsearch = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]') 
Laptopsearch.send_keys ("Laptop")
# code to click on the search button 
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]') 
search_btn.click()

In [319]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

for i in filter_button: 
    if i.text=='Intel Core i7': 
        i.click()
        break

In [320]:
filter = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

for a in filter:
    if a.text == "Intel Core 19":
        a.click()
        break

In [321]:
urls4 = []

for b in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"): 
    urls4.append(b.get_attribute("href"))

In [322]:
len(urls4)

27

In [323]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [ ]:
for i in urls4:
    driver.get(i)
time.sleep (5)
'''
try:
    title10 =driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']") 
    Title10.append(title10.text)
except:
    Title10.append("--")
'''
try:
    rate10= driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
    Ratings10.append(rate10.text)

except:
    Ratings10.append("--")

try:
    price10 =driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuying PriceString']") 
    Price10.append(price10.text)

except:
    Price10.append("--")

In [ ]:
for i in urls4:
    driver.get(i)

time.sleep (5)

title10=driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']") 
Title10.append(title10.text)

print(Title10)

In [ ]:
print(Ratings10)

In [ ]:
print(price10)

In [ ]:
df_amazon = pd.DataFrame({})
df_amazon["Title"]= Title10
df_amazon["Ratings"]=Ratings10
df_amazon["Price"]= Price10
df amazon