# Q.5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [2]:
Soup = BeautifulSoup(page.content,'lxml')

In [3]:
Team = Soup.find_all('span',class_='u-hide-phablet')
Match1 = Soup.find_all('td',class_='rankings-block__banner--matches')
match = Soup.find_all('td',class_='table-body__cell u-center-text')
Point1 = Soup.find_all('td',class_='rankings-block__banner--points')
Rating1 = Soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
Rating = Soup.find_all('td',class_='table-body__cell u-text-right rating')

In [4]:
Teams = []
Matches_Points = []
Ratings = []

In [5]:
for i in Team:
     Teams.append(i.text)
for k in Match1:
    Matches_Points.append(k.text)
for p in Point1:
    Matches_Points.append(p.text)
for j in match:
    Matches_Points.append(j.text)
for r1 in Rating1:
    Ratings.append(r1.text.strip().replace('\n',"") )
for r in Rating:
    Ratings.append(r.text )

In [6]:
Teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea',
 '',
 '',
 '',
 '',
 '']

In [7]:
for x in range(Teams.count('')):
    Teams.remove('') #removes empty elements in the list
Teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

In [8]:
#seperating matches and point data
matches = []

for k in range(0,40,2):
     matches.append(Matches_Points[k])

In [9]:
points = []

In [10]:
for l in range(1,40,2):
     points.append(Matches_Points[l])

In [11]:
ODITeams = {'Team':Teams,'Matches':matches ,'Points':points,'Ratings':Ratings}

ODITeams = pd.DataFrame(ODITeams)

ODITeams.drop(index = [x for x in range(10,20)],inplace = True)
ODITeams.reset_index(drop=True,inplace = True)
ODITeams.index+= 1

In [12]:
ODITeams

            Team Matches Points Ratings
1    New Zealand      17  2,054     121
2        England      32  3,793     119
3      Australia      28  3,244     116
4          India      32  3,624     113
5   South Africa      22  2,267     103
6       Pakistan      27  2,524      93
7     Bangladesh      29  2,639      91
8    West Indies      30  2,523      84
9      Sri Lanka      29  2,303      79
10   Afghanistan      17  1,054      62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [13]:
ODIBatsmen = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
ODIBatsmen

In [14]:
Soup = BeautifulSoup(ODIBatsmen.text)

In [15]:
player1 = Soup.find_all('div',class_='rankings-block__banner--name-large')
players = Soup.find_all('td',class_='table-body__cell rankings-table__name name')
Team1 = Soup.find_all('div',class_='rankings-block__banner--nationality')
Teams = Soup.find_all('span',class_='table-body__logo-text')
Rating1 = Soup.find_all('div',class_='rankings-block__banner--rating')
Ratings = Soup.find_all('td',class_='table-body__cell rating')

In [16]:
Player = []
Team= []
Rating = []

for k in player1:
    Player.append(k.text)
for p in players:
    Player.append(p.text.replace('\n',''))
for i in Team1:
     Team.append(i.text.replace('\n','').strip())
for t in Teams:
    Team.append(t.text.replace('\n','').strip())
for r1 in Rating1:
    Rating.append(r1.text)
for r in Ratings:
    Rating.append(r.text)

In [17]:
ODIBatsmen = {'Position':[x for x in range (1,len(Player)+1)],'Player':Player,'Team':Team ,'Rating':Rating}

ODIBatsmen  = pd.DataFrame(ODIBatsmen)

ODIBatsmen.head(10)

   Position           Player Team Rating
0         1       Babar Azam  PAK    873
1         2      Virat Kohli  IND    844
2         3     Rohit Sharma  IND    813
3         4      Ross Taylor   NZ    801
4         5      Aaron Finch  AUS    779
5         6   Jonny Bairstow  ENG    775
6         7     David Warner  AUS    762
7         8  Quinton de Kock   SA    758
8         9        Shai Hope   WI    758
9        10  Kane Williamson   NZ    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [18]:
ODIBowler = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
ODIBowler

In [19]:
Soup = BeautifulSoup(ODIBowler.text)

In [20]:
player1 = Soup.find_all('div',class_='rankings-block__banner--name-large')
players = Soup.find_all('td',class_='table-body__cell rankings-table__name name')
Team1 = Soup.find_all('div',class_='rankings-block__banner--nationality')
Teams = Soup.find_all('span',class_='table-body__logo-text')
Rating1 = Soup.find_all('div',class_='rankings-block__banner--rating')
Ratings = Soup.find_all('td',class_='table-body__cell rating')

In [21]:
Player = []
Team= []
Rating = []

for k in player1:
    Player.append(k.text)
for p in players:
    Player.append(p.text.replace('\n',''))
for i in Team1:
     Team.append(i.text.replace('\n','').strip())
for t in Teams:
    Team.append(t.text.replace('\n','').strip())
for r1 in Rating1:
    Rating.append(r1.text)
for r in Ratings:
    Rating.append(r.text)

In [22]:
ODIBowlers = {'Position':[x for x in range (1,len(Player)+1)],'Player':Player,'Team':Team ,'Rating':Rating}

ODIBowlers  = pd.DataFrame(ODIBowlers)
ODIBowlers.head(10)

   Position            Player Team Rating
0         1       Trent Boult   NZ    737
1         2    Josh Hazlewood  AUS    709
2         3  Mujeeb Ur Rahman  AFG    708
3         4      Chris Woakes  ENG    700
4         5      Mehedi Hasan  BAN    692
5         6        Matt Henry   NZ    691
6         7    Jasprit Bumrah  IND    679
7         8    Mitchell Starc  AUS    652
8         9   Shakib Al Hasan  BAN    650
9        10     Kagiso Rabada   SA    648