# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [13]:
Soup = BeautifulSoup(page.content,'lxml')

In [14]:
Team = Soup.find_all('span',class_='u-hide-phablet')
Match1 = Soup.find_all('td',class_='rankings-block__banner--matches')
match = Soup.find_all('td',class_='table-body__cell u-center-text')
Point1 = Soup.find_all('td',class_='rankings-block__banner--points')
Rating1 = Soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
Rating = Soup.find_all('td',class_='table-body__cell u-text-right rating')

In [16]:
Teams = []
Matches_Points = []
Ratings = []
for i in Team:
     Teams.append(i.text)
for k in Match1:
    Matches_Points.append(k.text)
for p in Point1:
    Matches_Points.append(p.text)
for j in match:
    Matches_Points.append(j.text)
for r1 in Rating1:
    Ratings.append(r1.text.strip().replace('\n',"") )
for r in Rating:
    Ratings.append(r.text )

In [17]:
for x in range(Teams.count('')):
    Teams.remove('') #removes empty elements in the list
Teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [18]:
matches = []

for k in range(0,20,2):
     matches.append(Matches_Points[k])

In [19]:
matches

['18', '20', '24', '23', '21', '17', '20', '5', '11', '2']

In [20]:
points = []
for l in range(1,20,2):
     points.append(Matches_Points[l])

In [21]:
points

['2,955',
 '2,370',
 '2,828',
 '2,535',
 '1,947',
 '1,427',
 '1,496',
 '306',
 '519',
 '25']

In [22]:
ODITeams = {'Team':Teams,'Matches':matches ,'Points':points,'Ratings':Ratings}

ODITeams = pd.DataFrame(ODITeams)

ODITeams.reset_index(drop=True,inplace = True)
ODITeams.index+= 1

In [23]:
ODITeams

            Team Matches Points Ratings
1      Australia      18  2,955     164
2        England      20  2,370     119
3   South Africa      24  2,828     118
4          India      23  2,535     110
5    New Zealand      21  1,947      93
6    West Indies      17  1,427      84
7       Pakistan      20  1,496      75
8     Bangladesh       5    306      61
9      Sri Lanka      11    519      47
10       Ireland       2     25      13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [40]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [41]:
ODIplayer = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
ODIplayer

In [53]:
Soup = BeautifulSoup(ODIplayer.content)

In [54]:
player1 = Soup.find_all('div',class_='rankings-block__banner--name-large')
players = Soup.find_all('td',class_='table-body__cell rankings-table__name name')
Team1 = Soup.find_all('div',class_='rankings-block__banner--nationality')
Teams = Soup.find_all('span',class_='table-body__logo-text')
Rating1 = Soup.find_all('div',class_='rankings-block__banner--rating')
Ratings = Soup.find_all('td',class_='table-body__cell rating')

In [70]:
Player = []
Team= []
Rating = []

for k in player1:
    Player.append(k.text.replace('\n',''))
for p in players:
    Player.append(p.text.replace('\n',''))
for i in Team1:
     Team.append(i.text.replace('\n','').strip())
for t in Teams:
    Team.append(t.text.replace('\n','').strip())
for r1 in Rating1:
    Rating.append(r1.text)
for r in Ratings:
    Rating.append(r.text)

In [88]:
ODIPlayer = {'Player':Player,'Team':Team ,'Rating':Rating}

ODIPlayer  = pd.DataFrame(ODIPlayer)

ODIPlayer.drop(index = [x for x in range(10,100)],inplace = True)
ODIPlayer.reset_index(drop=True,inplace = True)
ODIPlayer.index+= 1

In [89]:
ODIPlayer

               Player Team Rating
1         Mithali Raj  IND    762
2         Lizelle Lee   SA    758
3        Alyssa Healy  AUS    756
4      Tammy Beaumont  ENG    754
5     Stafanie Taylor   WI    736
6         Meg Lanning  AUS    723
7   Amy Satterthwaite   NZ    715
8      Natalie Sciver  ENG    706
9     Smriti Mandhana  IND    701
10    Laura Wolvaardt   SA    683

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [90]:
ODI_all = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
ODI_all

In [91]:
Soup = BeautifulSoup(ODI_all.content)

In [92]:
player1 = Soup.find_all('div',class_='rankings-block__banner--name-large')
players = Soup.find_all('td',class_='table-body__cell rankings-table__name name')
Team1 = Soup.find_all('div',class_='rankings-block__banner--nationality')
Teams = Soup.find_all('span',class_='table-body__logo-text')
Rating1 = Soup.find_all('div',class_='rankings-block__banner--rating')
Ratings = Soup.find_all('td',class_='table-body__cell rating')

In [93]:
Player = []
Team= []
Rating = []

for k in player1:
    Player.append(k.text)
for p in players:
    Player.append(p.text.replace('\n',''))
for i in Team1:
     Team.append(i.text.replace('\n','').strip())
for t in Teams:
    Team.append(t.text.replace('\n','').strip())
for r1 in Rating1:
    Rating.append(r1.text)
for r in Ratings:
    Rating.append(r.text)

In [94]:
ODI_AllRounder = {'Player':Player,'Team':Team ,'Rating':Rating}

ODI_AllRounder  = pd.DataFrame(ODI_AllRounder)

ODI_AllRounder.drop(index = [x for x in range(10,20)],inplace = True)
ODI_AllRounder.reset_index(drop=True,inplace = True)
ODI_AllRounder.index+= 1

In [95]:
ODI_AllRounder

              Player Team Rating
1     Marizanne Kapp   SA    418
2       Ellyse Perry  AUS    418
3    Stafanie Taylor   WI    394
4     Natalie Sciver  ENG    365
5      Deepti Sharma  IND    331
6      Jess Jonassen  AUS    307
7   Ashleigh Gardner  AUS    252
8   Dane van Niekerk   SA    243
9      Sophie Devine   NZ    242
10   Katherine Brunt  ENG    239